</div>
<div class="footer-padding"></div>
<div class="footer">
  <p>Made with a lot of <img src="images/coffee-beans.png" alt="Alot of coffee">
     and ❤️ by <span class="mihaelLC-font">Mihael LC</span></p>
</div>
</div>
</body>

</html>
